@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primarybg-light text-text-light; /* Modo claro */
}

.dark body {
  @apply bg-primarybg-dark text-text-dark; /* Modo escuro */
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
