@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #f90; /* Cor laranja */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

img, video {
  max-width: none !important;
  height: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


body {
  @apply bg-primarybg-light text-text-light; /* Modo claro */
}

.dark body {
  @apply bg-primarybg-dark text-text-dark; /* Modo escuro */
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
